.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.music-player h2 {
    margin: 0;
    color: #333;
}

.music-player p {
    margin: 5px 0 20px;
    color: #666;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.controls button {
    background-color: #6200ea;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
}

.controls button:hover {
    background-color: #3700b3;
}
